.CodeMirror {
  font-family: "Consolas";
  font-size: 24px;
  line-height: 1.6;
  max-width: calc(100vw - 296px);
  min-height: 100vh;
  padding-top: 16px;

  @media screen and (max-width: 768px) {
    max-width: 100vw;
    min-height: calc(100vh - 322px);
  }
}
